/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .top-page-header{
  width: 100%;
  text-align: center;
  
}
.header.header div.header__bar.row div.grid-6 a.post{
  height:40px;
  border-radius: 3px;
  display: inline-block;
}
.grid-6{
  font-size: 50px;
  background-color: crimson;
  transform: skewY(-8deg);
  display: flex;
  justify-content: center;
}
.user_nav{
  float:right;
  margin-right:80px;
}
.lists-right{
  list-style: none;
}

.sign{
  text-decoration: none;
 }
 .sign:hover{
  color:darkorange;
}
.sign-right{
  margin-left:10px;
  text-decoration: none;
}
.sign-right:hover{
  color:darkorange;
}
 